{
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "es6": true,
    "jest/globals": true
  },
  "plugins": [
    "import",
    "react",
    "flowtype",
    "lodash-fp",
    "jest"
  ],
  "rules": {
    "no-console": "warn",
    "no-unexpected-multiline": "error",
    "consistent-return": "off",
    "class-methods-use-this": "off",
    "dot-location": ["error", "property"],
    "no-implicit-globals": "error",
    "no-invalid-this": "error",
    "no-param-reassign": ["error", { "props": false }],
    "no-unmodified-loop-condition": "error",
    "no-useless-call": "error",
    "no-warning-comments": ["error", { "terms": ["eater:only"], "location": "start" }],
    "prefer-promise-reject-errors": "off",
    "no-catch-shadow": "error",
    "no-label-var": "error",
    "no-shadow": "off",
    "no-undef-init": "error",
    "no-use-before-define": ["error", "nofunc"],
    "no-unused-vars": ["error", { "args": "none" }],
    "callback-return": "off",
    "global-require": "off",
    "no-path-concat": "error",
    "linebreak-style": ["error", "unix"],
    "no-nested-ternary": "off",
    "no-plusplus": "off",
    "quote-props": ["error", "as-needed", { "numbers": true }],
    "semi": ["error", "never"],
    "object-curly-newline": "off",
    "function-paren-newline": "off",
    "arrow-parens": ["error", "always"],
    "no-confusing-arrow": "off",
    "constructor-super": "error",
    "generator-star-spacing": ["error", "after"],
    "no-this-before-super": "error",
    "no-useless-rename": ["error", { "ignoreExport": true }],
    "prefer-arrow-callback": ["error", { "allowNamedFunctions": true }],
    "prefer-template": "off",
    "prefer-spread": "error",
    "prefer-destructuring": "off",
    "react/no-danger": "error",
    "react/no-deprecated": "error",
    "react/no-did-mount-set-state": "error",
    "react/no-did-update-set-state": "error",
    "react/no-direct-mutation-state": "error",
    "react/no-is-mounted": "error",
    "react/no-string-refs": "error",
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
    "react/jsx-no-bind":["error", {
      "allowBind": true,
      "allowArrowFunctions": true
    }],
    "react/prop-types": ["off"],
    "react/no-array-index-key": "off",
    "react/no-unused-prop-types": "off",
    "react/prefer-stateless-function": "off",
    "react/require-default-props": "off",
    "react/sort-comp": ["error", {
      "order": [
        "type-annotations",
        "static-methods",
        "lifecycle",
        "everything-else",
        "render"
      ]
    }],
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    "import/prefer-default-export": "off",
    "import/no-mutable-exports": "off",
    "import/no-dynamic-require": "off",
    "jsx-a11y/href-no-hash": "off",
    "jsx-a11y/no-autofocus": "off",
    "jsx-a11y/label-has-for": "off",
    "jsx-a11y/no-noninteractive-element-to-interactive-role": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/mouse-events-have-key-events": "off",
    "jsx-a11y/anchor-is-valid": ["error", { "components": ["Link"], "specialLink": ["to"] }],
    "react/jsx-equals-spacing": "error",
    "react/jsx-indent": ["error", 2],
    "react/jsx-key": "error",
    "react/jsx-max-props-per-line": ["error", {"maximum": 5}],
    "react/jsx-no-duplicate-props": "error",
    "react/jsx-tag-spacing": ["error", {"beforeSelfClosing": "always"}],
    "react/jsx-closing-bracket-location": ["error", {"selfClosing": "tag-aligned", "nonEmpty": "after-props"}],
    "react/jsx-wrap-multilines": "error",
    "react/no-unused-state": "off",
    "flowtype/space-after-type-colon": ["error", "always"],
    "flowtype/space-before-type-colon": ["error", "never"],
    "flowtype/object-type-delimiter": ["error", "comma"],
    "flowtype/no-types-missing-file-annotation": "off",
    "lodash-fp/consistent-compose": ["error", "flow"],
    "lodash-fp/consistent-name": ["error", "lodash"],
    "lodash-fp/no-argumentless-calls": "error",
    "lodash-fp/no-chain": "error",
    "lodash-fp/no-extraneous-args": "error",
    "lodash-fp/no-extraneous-function-wrapping": "error",
    "lodash-fp/no-extraneous-iteratee-args": "error",
    "lodash-fp/no-for-each": "off",
    "lodash-fp/no-partial-of-curried": "error",
    "lodash-fp/no-single-composition": "error",
    "lodash-fp/no-submodule-destructuring": "error",
    "lodash-fp/no-unused-result": "error",
    "lodash-fp/prefer-compact": "error",
    "lodash-fp/prefer-composition-grouping": "error",
    "lodash-fp/prefer-constant": ["error", {"arrowFunctions": false}],
    "lodash-fp/prefer-flat-map": "error",
    "lodash-fp/prefer-get": "error",
    "lodash-fp/preferred-alias": "off",
    "lodash-fp/use-fp": "error",
    "max-len": ["error", 120]
  }
}
